body {

  background:image-url('stackofbooks-green.png') no-repeat right fixed;
    background-color: #94CEAD;
}

.top-bar {
  background-color: #D2543B;
  color: #03045e;
  font-weight: bold;
  border-bottom: 3px solid #293241;
}

ul.right {
  background-color: #D2543B;
}

.top-bar a {
  background-color: #D2543B;
  color: #1d3557;
  font-weight: bolder;
  font-family: "Permanent Marker", cursive;
  margin-left: 20px;
}

.sticky {
  width: 100%;
}

.content {
  margin: 2em auto;
  margin-top: 3em;
}

.callout {
  border: 3px solid black;
  background-color: #e9c46a;

}

.callout a {
  font-size: 18px;
  color: #3d5a80;

}

.center {
  text-align: center;
}

.button {
  background-color: #1d3557;
  border-radius: 10px;
  font-family: "Permanent Marker", cursive;
  // background-color: #F79123;
}
.button:hover {
    font-weight: bold;
    background-color: #ee6c4d;
  }

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.callout a.button {
  color: white;
  text-decoration: none;
}

.delete {
  float: right;
  background-color: #ee6c4d;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

p.booktile {
  color: black;
  text-align: center;
}

.book-show-tile{
  margin-top: 5px;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.callout.user-signin{
  top: 30%;
  border-radius: 20px;
  max-width: 60%;
  float: none;
  margin: auto;
  margin-top: 5rem;
  padding: 80px;
  border-radius: 20px;
  font-family: "Permanent Marker";
  color: #1d3557;
}
.user-signin.label{
  font-size: 25px;
}

.actions{
  font-size: 25px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

.callout.user-signup{
  top: 30%;
  border-radius: 20px;
  max-width: 60%;
  float: none;
  margin: auto;
  margin-top: 5rem;
  padding: 80px;
  border-radius: 20px;
  color: #1d3557;
  font-size: large;
  font-family: "Permanent Marker";
  color: #1d3557;
}
.user-signup.label{
  font-size: 25px;
}

h5 {
  font-family: "Permanent Marker";
  color: #1d3557;
}

h4 {
  font-family: "Permanent Marker";
  color: #1d3557;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: "Permanent Marker";
  color: #1d3557;
  border-radius: 20px;
  float: none;
  margin: auto;
}

h2 {
  font-family: "Permanent Marker";
  color: #1d3557;
}

h1 {
  font-family: "Permanent Marker";
  color: #1d3557;
}

b {
  font-family: "Permanent Marker"
}

.callout img {
  border: 2px solid black;
}

.book-show-tile img{
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.book-tile img{
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.book-show-tile iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-tile img{
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nyTimesList-list {
   padding: 20px;
}
