body {
  background-color: #94CEAD;
}

.top-bar {
  background-color: #D2543B;
  color: #e0fbfc;
  font-weight: bold;
  border-bottom: 3px solid #293241;
}

ul.right {
  background-color: #D2543B;
}

.top-bar a {
  background-color: #D2543B;
  color: #293241;
  font-weight: bolder;
  font-family: "Permanent Marker", cursive;
  margin-left: 20px;
}

.sticky {
  width: 100%;
}

.content {
  margin: 2em auto;
  margin-top: 3em;
}

.callout {
  border: 3px solid black;
  background-color: #fac27d;

}

.callout a {
  font-size: 18px;
  color: #3d5a80;

}

.center {
  text-align: center;
}

.button {
  background-color: #6E876A;
  border-radius: 10px;
  font-family: "Permanent Marker", cursive;
  // background-color: #F79123;
}
.button:hover {
    font-weight: bold;
    background-color: #ee6c4d;
  }


.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.callout a.button {
  color: white;
  text-decoration: none;
}

.delete {
  float: right;
  background-color: #ee6c4d;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

p.booktile {
  color: black;
  text-align: center;
}

.book-show-tile{
  margin-top: 5px;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

/* HEX */
$color1: #DE5D40ff;
$color2: #B8C588ff;
$color3: #3E6A65ff;
$color4: #B37F6Cff;
$color5: #DA9286ff;
$color6: #957377ff;
$color7: #F8F2D9ff;
$color8: #291920ff;
$color9: #6E876Aff;
$color10: #FAC27Dff;
