body {
    background-color: #98C1D9;
}

.top-bar {
    background-color: #EE6C4D;
    color: #E0FBFC;
    font-weight: bold;
    border-bottom: 5px solid #293241;
}
.top-bar-section p {
    margin: 2px;
}

.top-bar a {
    color:#293241;
    font-weight: bolder;
}

.top-bar h1 {
    font-family: 'Play', sans-serif;
    margin-left: 20px;
}

.sticky {
    width: 100%;
}

.content {
    margin: 2em auto;
    margin-top: 3em;
}

.callout {
  border: 3px solid black;
  background-color: #EEEEEE;
}

.center {
  text-align: center;
}

.button {
  background-color: #3D5A80;
}

.callout a {
  font-size: 18px;
  color: #3D5A80;
  text-decoration: underline;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.callout a.button {
  color: white;
  text-decoration: none;
}

.delete {
  float: right;
  background-color: #EE6C4D;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.review.callout {
  background-color: white;
}
